header {
    width: 100%;
    padding: 28px 8%;
    position: sticky;
    top: 0;
    z-index: 3;
}
 /* Estilo para a tela de carregamento */
 #loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
    font-family: Arial, sans-serif;
    font-size: 1.5rem;
}


/* From Uiverse.io by simjohnb */ 
.pyramid-loader {
position: relative;
width: 300px;
height: 300px;
display: block;
transform-style: preserve-3d;
transform: rotateX(-20deg);
}

.wrapper {
position: relative;
width: 100%;
height: 100%;
transform-style: preserve-3d;
animation: spin 4s linear infinite;
}

@keyframes spin {
100% {
transform: rotateY(360deg);
}
}

.pyramid-loader .wrapper .side {
width: 70px;
height: 70px;
position: absolute;
top: 0;
left: 0;
right: 0;
bottom: 0;
margin: auto;
transform-origin: center top;
clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}

.pyramid-loader .wrapper .side1 {
transform: rotateZ(-30deg) rotateY(90deg);
background: conic-gradient(#b527ee, #6D2398, #b527ee);
}

.pyramid-loader .wrapper .side2 {
transform: rotateZ(30deg) rotateY(90deg);
background: conic-gradient(#6D2398, #b527ee, #6D2398);
}

.pyramid-loader .wrapper .side3 {
transform: rotateX(30deg);
background: conic-gradient(#b527ee, #6D2398, #b527ee);
}

.pyramid-loader .wrapper .side4 {
transform: rotateX(-30deg);
background: conic-gradient(#6D2398, #b527ee, #6D2398);
}

.pyramid-loader .wrapper .shadow {
width: 60px;
height: 60px;
background: #6D2398;
position: absolute;
top: 0;
left: 0;
right: 0;
bottom: 0;
margin: auto;
transform: rotateX(90deg) translateZ(-40px);
filter: blur(12px);
}



#nav_list {
    display: flex;
    width: 700px;
    height: 86px;
    padding: 0px 10px;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    border-radius: 50px;
    border: 1px solid rgba(255, 255, 255, 0.6);
    /* Borda translúcida */
    background: rgba(255, 255, 255, 0.3);
    /* Fundo translúcido */
    backdrop-filter: blur(10px);
    /* Aplica o efeito de desfoque no fundo */
    list-style: none;
    margin-top: -2%;
    font-size: 20px;
    position: fixed;
    top: 7%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    /* Adiciona uma sombra suave */
    gap: 10px;

}

.nav-item a {
    display: flex;
    padding: 20px 40px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 60px;
    color: white;
    text-decoration: none;
}

.nav-item.active a {
    display: flex;
    padding: 20px 40px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 60px;
    background: #6D2398;
    text-decoration: none;
}

#mobile_btn {
    display: none;
}

#mobile_menu {
    display: none;
}

@media screen and (max-width: 1170px) {

    #nav_list,
    #navbar .btn-default {
        display: none;
    }

    #mobile_btn {
 
        display: block;
        border: none;
        background-color: transparent;
        font-size: 2.5rem;
        cursor: pointer;
        color: #ffffff;
    }


    /* From Uiverse.io by JulanDeAlb */
    .hamburger {
        cursor: pointer;
    }

    .hamburger input {
        display: none;
    }

    .hamburger svg {
        /* The size of the SVG defines the overall size */
        height: 3em;
        /* Define the transition for transforming the SVG */
        transition: transform 600ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .line {
        fill: none;
        stroke: white;
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke-width: 3;
        /* Define the transition for transforming the Stroke */
        transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
            stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .line-top-bottom {
        stroke-dasharray: 12 63;
    }

    .hamburger input:checked+svg {
        transform: rotate(-45deg);
    }

    .hamburger input:checked+svg .line-top-bottom {
        stroke-dasharray: 20 300;
        stroke-dashoffset: -32.42;
    }



    #mobile_menu.active {
        display: flex;
        flex-direction: column;
        align-items: center;
        border: 1px solid rgba(255, 255, 255, 0.6);
        /* Borda translúcida */
        background: rgba(255, 255, 255, 0.3);
        /* Fundo translúcido */
        backdrop-filter: blur(10px);
        color: #ffffff;
        transition: left 0.3s ease-in-out;
        z-index: 999;
        border-radius: 5%;
    }

    #mobile_nav_list {
        display: flex;
        flex-direction: column;
        gap: 12px;
        margin: 12px 0px;
    }

    #mobile_nav_list .nav-item {
        list-style: none;
        text-align: center;
    }
}